.home {
  z-index: -1;
  position: relative;
  font-size: clamp(2.5rem, 4vw, 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 650px;
  overflow: hidden;
  padding-top: 1rem;
}

.Heading1,
.Heading2 {
  z-index: -1;
  font-size: clamp(3rem, 4vw, 3.5rem);
  text-align: center;
  letter-spacing: -0.01em;
  font-family: var(--font-heading);
  font-weight: 500;
}

.Title {
  z-index: -1000;
  font-style: italic;
  font-size: clamp(16rem, 40vw, 24rem);
  top: 0;
  width: 100%;
  text-align: center;
  font-weight: 600;
  padding-right: 0.1em;
  letter-spacing: -0.12em;
  line-height: 110%;
  visibility: hidden;
  text-wrap: nowrap;
}

.Heading1 {
  text-wrap: wrap;
  width: min-content;
  line-height: 100%;
}

.Heading2 {
  bottom: 10vw;
  position: relative;
  top: -48px;
}
