.home {
  z-index: -1;
  position: relative;
  font-size: clamp(2.5rem, 4vw, 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 650px;
  overflow: hidden;
  padding-top: 1rem;
}

.Heading1,
.Heading2 {
  z-index: -1;
  font-size: clamp(3rem, 4vw, 3.5rem);
  text-align: center;
  letter-spacing: -0.01em;
  font-family: var(--font-heading);
  font-weight: 500;
}

.Title {
  z-index: -1000;
  font-style: italic;
  font-size: clamp(12rem, 40vw, 24rem);
  font-family: var(--font-title);
  width: 100%;
  text-align: center;
  font-weight: 600;
  letter-spacing: -0.12em;
  line-height: 110%;
  visibility: hidden;
  text-wrap: nowrap;
}

.Heading1 {
  text-wrap: wrap;
  width: min-content;
  line-height: 100%;
}

.Heading2 {
  bottom: 10vw;
  position: relative;
  top: -48px;
}

@media (max-width: 600px) {
  .Title {
    font-size: 14rem;
    position: relative;
    left: -0.5rem;
    z-index: 0;
    visibility: revert;
    background: -webkit-linear-gradient(#ff4500, #ff44007c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 90%;
  }
  .Heading2 {
    bottom: 10vw;
    position: relative;
    top: 0;
  }
}
