.paragraph {
  font-size: 14px;
  line-height: 1.25;
}

div.scrollReveal {
  text-align: center;
  padding-bottom: 1rem;
  margin: auto;
  padding: 2rem;
  position: fixed;
  top: 0;
}

.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #037b13;
  transform-origin: 0%;
  mix-blend-mode: difference;
}

.scrollReveal span {
  color: #037b135a;
  background-clip: text;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, #08733b, #08733b);
  transform-origin: 0%;
  /* animation: scrollReveal linear forwards; */
  /* animation-duration: 3s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out; */
}

.scrollReveal h1 span {
  font-size: 6rem;
  font-weight: 600;
}

.sticky {
  position: sticky;
  top: 20px;
}

/* @keyframes scrollReveal {
  to {
    background-size: 100% 100%;
  }
} */
