.Navbar {
  z-index: 100;
  font-style: italic;
  width: 100%;
  position: fixed;
  top: 0;
  font-weight: 600;
  padding: 1rem 2rem;
  --fontsize: clamp(2rem, 5vw, 3rem);
}

.MenuList {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-self: center;
  list-style: none;
}

.LogoWrapper {
  margin-left: 1rem;
  max-width: 150px;
  min-width: fit-content;
  flex-shrink: 99999;
  flex-basis: 150px;
}

.LinksWrapper {
  color: hsl(16, 96%, 50%, 100%);

  flex: 1;
  flex-basis: 500px;
  display: flex;
  justify-content: space-evenly;
  /* gap: clamp(1rem, 10vw, 5rem); */
}

.Logo {
  position: relative;
  top: calc(var(--fontsize) / -2);
  flex: 1;
  flex-basis: 100px;
  text-align: center;
  font-size: var(--fontsize);
  font-family: var(--font-title);
  letter-spacing: -0.1em;
  font-weight: 600;
  background: -webkit-linear-gradient(#ff4500, #ff44007c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 0.2rem;
  user-select: none;
  /* transform: translateY(10.5rem); */
}

.Link {
  padding: 0.5rem;
}

.Group li {
  text-wrap: wrap;
  font-size: clamp(0.75rem, 2vw, 1.25rem);
}

.NarrowNav {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.Contact {
  background: hsl(16, 96%, 50%, 100%);
  font-family: var(--font);
  font-style: normal;
  border: transparent;
  padding: 8px;
  color: white;
  font-weight: 400;
  border-radius: 9999px 9999px;
}

@media (max-width: 600px) {
  .MenuList {
    display: None;
  }
}

@media (min-width: 600px) {
  .NarrowNav {
    display: None;
  }
}
