.Wave {
  position: relative;
  top: 220px;
  z-index: -1;
}

.Logo {
  font-size: clamp(10rem, 10vw, 20rem);
  font-weight: 400;
  letter-spacing: -0.4rem;
}

.Background {
  background-color: #f55004;
}

.Footer {
  padding: 0 1rem 5rem 1rem;
  color: hsl(48, 24%, 96%, 100%);
  display: flex;
  flex-direction: column;
  margin: 6rem auto;
  width: 100%;
  max-width: 100%;
}

.Wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.List {
  min-width: 325px;
  list-style: none;
}
