.Container {
  position: relative;
}

.Container *::selection {
  background-color: hsl(48, 24%, 96%, 100%);
  color: hsl(16, 96%, 50%, 100%);
}

.Wave {
  position: relative;
  top: 220px;
  z-index: -1;
}

.Logo {
  line-height: 1;
  font-size: clamp(10rem, 10vw, 20rem);
  font-weight: 400;
  letter-spacing: -0.4rem;
}

.Background {
  background-color: #f55004;
}

.Footer {
  padding: 0 1rem 5rem 1rem;
  color: hsl(48, 24%, 96%, 100%);
  display: flex;
  flex-direction: column;
  margin: 6rem auto;
  width: 100%;
  max-width: 100%;
}

.Wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2rem;
  gap: 5rem;
  text-align: center;
}

.Wrapper > * {
  flex: 1;
}

.List {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 150%;
  text-wrap: nowrap;
}

.List li {
  margin: 0.5rem;
  cursor: pointer;
  transition: color 0.2s, transform 0.2s;
}

.List li:hover {
  color: hsl(48, 24%, 96%, 100%);
  transform: scale(1.1);
}

.Contact {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 150%;
  text-wrap: nowrap;
}

.Copyright {
  position: absolute;
  bottom: 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 150%;
  text-wrap: nowrap;
}
